<!DOCTYPE html>
<head>
    <title>skybord.xyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="Official website/personal portfolio of skybird2333">
    <script src="https://kit.fontawesome.com/ce2d611900.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1SW5FZHT3F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1SW5FZHT3F');
    </script>
    <div class="navbar">
        <span class="site-name">
            <a href="/">
                skybord.xyz
            </a>
        </span>
        <ul class="navbar-links">
            <li>
                <form class=pure-form action="/search">
                    <input type="text" class="pure-input" placeholder="Search.." name="query">
                    <button class="pure-button"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>