<head>
    <title>a</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce2d611900.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <span class="site-name">
            <a href="/">
                skybord.xyz
            </a>
        </span>
        <ul class="navbar-links">
            <li>
                <form class=pure-form action="/search">
                    <input type="text" class="pure-input" placeholder="Search.." name="query">
                    <button class="pure-button"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>
    <style>
        :root {
            --background-dark: #cfe3fc;
            --background-light: white;
            --foreground-dark:rgb(0, 0, 0);
            --foreground-light: rgb(70, 70, 70);
        }

        html {
            min-height: 100%;
        }

        body {
            background-color: var(--background-dark);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            color: black;
            overflow-x: hidden;
            position: relative;
            z-index: -1001;
            
            background-image: url('/img/index/bg.jpg');
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-size: 100% auto;
        }

        .navbar {
            background-color: var(--background-light);
            padding: 10px;
            height: 40px;
            z-index: 123435589;
            position: relative;
        }
        
        .navbar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }
        
        .navbar-links li {
            display: contents;
        }
        
        @media only screen and (max-width: 500px) {
            .navbar-links {
                display: none;
            }
            
        }

        .content-header {
            margin-block-start: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            background-color: var(--background-light);
            box-shadow:0 6px 8px -2px var(--foreground-light);
        }
        .content-header h1{
            font-size: 45px;
        }
        .content-header h3{
            color: var(--foreground-light);
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .content-header h1, h3{
            margin-block-start: 0;
            margin-block-end: 10px;
        }
        
        
        .content {
            max-width: 50%;
            min-width: 750px;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: -1000;
            position: relative;
            border: 1px solid var(--foreground-light);
        }
        
        @media only screen and (max-width: 850px) {
            .content {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                min-width: initial;
            }
            
        }
        
        .content-content {
            padding: 20px;
            color: var(--foreground-dark);
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: large;
        }
        
        .content-content h1,h2,h3,h4,h5,h6 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .site-name a{
            left: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-size: xx-large;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        .footer {
            bottom: 0;
            width: 100%;
            padding: 1em;
            backdrop-filter: blur(16px);
            -webkit-backdrop-filter: blur(16px);
            color: white;
            background-color: rgba(0,0,0, .9);
        }
        @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
            .footer {
                background-color: rgba(0,0,0, .3);
                backdrop-filter: blur(16px);
                -webkit-backdrop-filter: blur(16px);
            }
        }
        
        .is-center {
            text-align: center;
        }
        
        .label {
          color: white;
          padding: 2px;
          border-radius: 5px;
        }
        
        .l-online {background-color: #04AA6D;} /* Green */
        .l-dnd {background-color: #ff0000;} /* Green */
        .l-idle {background-color: #9cad00;} /* Green */
        .l-offline {background-color: #3a3a3a;} /* Green */
        </style>