<!DOCTYPE html>
<head>
    <title>skybord.xyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="Official website/personal portfolio of skybird2333">
    <script src="https://kit.fontawesome.com/ce2d611900.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/style.css?v=4">
    <link rel="stylesheet" href="/css/components-style.css?v=1">
</head>

<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1SW5FZHT3F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1SW5FZHT3F');
    </script>
    <style>
        /* Make app element not cover its children */
        #app {
            position: relative;
            z-index: -100;
        }
    </style>
    <div class="navbar">
        <div class="navbar-content">
            <span class="site-name">
            <a href="/">
                skybord.xyz
                </a>
            </span>
            <ul class="navbar-links">
                <li>
                    <form action="/search">
                        <input type="text" class="input" placeholder="Search.." name="query">
                        <button class="button"><i class="fas fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>