<%- include('partials/header')%>
    <div style="font-size: large;">
        <h1 style="font-family: 'Times New Roman', Times, serif;">amogus</h1>
        <code>
            content
        </code>    
    </div>
<%- include('partials/footer')%>