<%- include('partials/header')%>
    <div class="content">
        <div class="content-header">
            <h1>Contact <del>us</deL> me</h1>
        </div>

        <div class="warn">
            <p>I do <b>not</b> care about your email advertising methods no matter how effective you present it to be.
                I recommend you stop sending it given that I will <b>not</b> respond.</p>
        </div>

        <div class="content-content">
            <% if(feedback) { %>
                <b>Your response has been submitted. Thank you for contacting us.</b>
                <% } else { %>
                    <form class="pure-form-stacked" action="/feedback">
                        <label>Email</label>
                        <input name="email" class="input" type="email" placeholder="Your email address." required>

                        <label>Message</label>
                        <textarea name="message" class="input" placeholder="Type here..." required></textarea>

                        <button type="submit" class="button">Submit</button>
                    </form>
                    <% } %>
        </div>
    </div>
    <%- include('partials/footer')%>