<%- include('partials/header')%>
    <div class="content">
        <div class="content-header">
            <img src="/img/pfp.png">
            <div style="display: inline-block; white-space:nowrap; vertical-align: top;">
                <h2 style="margin-block: 0;">
                    <span class="discord-contact-label">
                        <i class="fab fa-discord" style="color: #5865F2;"></i>
                        skybird2333#3209
                    </span>
                    <span class="label l-<%= presence %>">
                        <%= presence.toUpperCase() %>
                    </span>
                </h2>
                <b>
                    Web & Discord bot developer, Minecraft addon creator, Gamer
                </b>
                <br>
                <div class="tooltip label l-online"><img src="/img/js-icon.png" width=32 alt="">
                    <span class="tooltiptext">Javascript: 3 Years</span>
                </div>
                <div class="tooltip label l-online"><img src="/img/py-icon.jpg" width=32 alt="">
                    <span class="tooltiptext">Python: 2 Years</span>
                </div>
                <div class="tooltip label l-online"><img src="/img/djs-icon.png" width=32 alt="">
                    <span class="tooltiptext">Discord.js: 3 Years</span>
                </div>
                <div class="tooltip label l-online"><img src="/img/vue-icon.jpg" width=32 alt="">
                    <span class="tooltiptext">VueJS: 2 Years</span>
                </div>
                <div class="tooltip label l-online"><img src="/img/mongodb-icon.png" width=32 alt="">
                    <span class="tooltiptext">MongoDB: 2 Years</span>
                </div>
                <div class="tooltip label l-online"><img src="/img/express-icon.png" width=32 alt="">
                    <span class="tooltiptext">ExpressJS: 1 Year</span>
                </div>
                <div class="tooltip label l-idle"><img src="/img/flutter-icon.jpg" width=32 alt="">
                    <span class="tooltiptext">Flutter: Currently Learning</span>
                </div>
            </div>
        </div>
        <div class="content-content">
            <h1>My projects</h1>
            <div style="color: var(--foreground-secondary);">
                Click on one to learn more!
            </div>


            <br>
            

            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/ccd-icon.png" width="32" alt="">
                    Corecoder: Develop
                </div>
                <div class="card-content">
                    <img src="https://raw.githubusercontent.com/Hanprogramer/corecoder_develop/main/.github/Screenshot_CC3.png" alt="" style="width: 100%">
                    Extensible cross-platform IDE for Android and Desktop. Featuring Syntax highlighting, fast startup, and extensible plugins.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/Hanprogramer/corecoder_develop">
                        Learn more
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/flutter-icon.jpg" width=32 alt="">
                    </div>
                </div>
            </div>


            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/github-icon.png" width="32" alt="">
                    Ghost pinger
                </div>
                <div class="card-content">
                    A configurable script to spam ghost ping someone in a Discord server.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/skybird23333/ghost-pinger">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/js-icon.png" width=32 alt="">
                        <img src="/img/djs-icon.png" width=32 alt="">
                    </div>
                </div>
            </div>


            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/github-icon.png" width="32" alt="">
                    Blooket Utility mod
                </div>
                <div class="card-content">
                    A basic mod menu for Blooket made with Vue.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/skybird23333/blooklet-utility-mod">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/js-icon.png" width=32 alt="">
                        <img src="/img/vue-icon.jpg" width=32 alt="">
                    </div>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/github-icon.png" width="32" alt="">
                    <img src="/img/mcpedl-icon.png" width="32" alt="">
                    UHC Function Addon
                </div>
                <div class="card-content">
                    A lightweight, compatible, fully customizable addon for hosting UHC Games, large or small.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/skybird23333/mc-bedrocc-UHC-function">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/uhc-function-addon" style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/mcpedl-icon.png" width="32" alt="">
                    Meds Addon
                </div>
                <div class="card-content">
                    Meds addon brings modern medicines such as bandages and pills into Minecraft, providing a lightweight and convenient alternative to healing other than vanilla potions.<br>
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/meds-addon/" style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    <img src="/img/mcpedl-icon.png" width="32" alt="">
                    Airdrop Addon
                </div>
                <div class="card-content">
                    The airdrop addon adds airdrops into Minecraft survival mode, and also a flare gun that can be crafted.
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/airdrop-addon/" style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    skybord.xyz website
                </div>
                <div class="card-content">
                    A simple personal blog website developed with optimiziation and compatibility in mind.
                    <div style="float: right">
                        <img src="/img/js-icon.png" width=32 alt="">
                        <img src="/img/mongodb-icon.png" width=32 alt="">
                        <img src="/img/express-icon.jpg" width=32 alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .pure-button {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: 6px;
            margin: 6px 0;
        }
        .discord-contact-label {
            padding: 3px;
            border-radius: 3px;
            display: inline-block;
        }

        .label {
            color: white;
            padding: 2px;
            border-radius: 3px;
        }

        .l-online {
            background-color: #04AA6D;
        }

        /* Green */
        .l-dnd {
            background-color: #ff0000;
        }

        .l-idle {
            background-color: #e6b839;
        }

        .l-offline {
            background-color: #3a3a3a;
        }

        
    </style>
    <%- include('partials/footer')%>