<%- include('partials/header')%>
    <div class="content">
        <div class="content-header">
            <img src="/img/pfp.png" alt='profile picture' width="64" class="profile-pic">
            <style>
                @media only screen and (max-width: 600px) {
                    .profile-pic {
                        display: none;
                    }
                }
            </style>
            <div style="display: inline-block; vertical-align: top;">
                <h2 style="margin-block: 0;">
                    <span class="discord-contact-label">
                        <i class="fab fa-discord" style="color: #5865F2;"></i>
                        skybird2333#3209
                    </span>
                    <span class="label l-<%= presence %>">
                        <%= presence.toUpperCase() %>
                    </span>
                </h2>
                <b>
                    Web & Discord bot developer, Minecraft addon creator, Gamer
                </b>
                <br>
                
            </div>
        </div>
        <div class="content-content">
            <h1>My skills</h1>
            <div class="pure-g" style="background-color: var(--background-secondary); padding: 1em; border: 2px solid var(--foreground-secondary);">
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>Web/App development</h3>
                    <div style="color: var(--foreground-secondary); font-size: medium;">
                        Personal websites/blogs, web/desktop applications
                    </div>
                    
                    <div><img src="/img/js-icon.png" width=32 alt="">
                        <span>JS/HTML: 3 Years</span>
                    </div>
                    <div><img src="/img/vue-icon.jpg" width=32 alt="">
                        <span>VueJS: 2 Years</span>
                    </div>
                    <div><img src="/img/express-icon.png" width=32 alt="">
                        <span>ExpressJS: 1 Year</span>
                    </div>
                    <div><img src="/img/flutter-icon.jpg" width=32 alt="">
                        <span>Flutter: Currently Learning</span>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>Server-side development</h3>
                    <div style="color: var(--foreground-secondary); font-size: medium;">
                        Discord bots, backend server, full-stack web development
                    </div>
                    
                    <div><img src="/img/js-icon.png" width=32 alt="">
                        <span>Node.js 3 Years</span>
                    </div>
                    <div><img src="/img/express-icon.png" width=32 alt="">
                        <span>ExpressJS: 1 Year</span>
                    </div>
                    <div><img src="/img/py-icon.jpg" width=32 alt="">
                        <span>Python: 2 Years</span>
                    </div>
                    <div><img src="/img/djs-icon.png" width=32 alt="">
                        <span>Discord.js: 3 Years</span>
                    </div>
                    <div><img src="/img/mongodb-icon.png" width=32 alt="">
                        <span>MongoDB: 2 Years</span>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>Minecraft addons development</h3>
                    <div style="color: var(--foreground-secondary); font-size: medium;">
                        Functions, Addons, Worlds
                    </div>
                    <div><img src="/img/command-icon.png" width=32 alt="">
                        <span>Commands: 4 Years</span>
                    </div>
                    <div>
                        <span>Entity Addons: Beginner</span>
                    </div>
                    <div>
                        <span>Custom Items: Beginner</span>
                    </div>
                </div>
            </div>
            
            <h1>My projects</h1>
            <div style="color: var(--foreground-secondary);">
                Click on one to learn more!
            </div>

            <br>

            <div class="card-collapsible">
                <div class="card-header">
                    Corecoder: Develop
                </div>
                <div class="card-content">
                    <img src="https://raw.githubusercontent.com/Hanprogramer/corecoder_develop/main/.github/Screenshot_CC3.png"
                        alt="" style="width: 100%">
                    Extensible cross-platform IDE for Android and Desktop. Featuring Syntax highlighting, fast
                    startup, and extensible plugins.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/Hanprogramer/corecoder_develop">
                        Project Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/flutter-icon.jpg" width=32 alt="">
                    </div>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    Ghost pinger
                </div>
                <div class="card-content">
                    A configurable script to spam ghost ping someone in a Discord server.<br>
                    <a class="pure-button pure-button-primary" href="https://github.com/skybird23333/ghost-pinger">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/js-icon.png" width=32 alt="">
                        <img src="/img/djs-icon.png" width=32 alt="">
                    </div>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    Blooket Utility mod
                </div>
                <div class="card-content">
                    A basic mod menu for Blooket made with Vue.<br>
                    <a class="pure-button pure-button-primary"
                        href="https://github.com/skybird23333/blooklet-utility-mod">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div style="float: right">
                        <img src="/img/js-icon.png" width=32 alt="">
                        <img src="/img/vue-icon.jpg" width=32 alt="">
                    </div>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    UHC Function Addon
                </div>
                <div class="card-content">
                    A lightweight, compatible, fully customizable addon for hosting UHC Games, large or small.<br>
                    <a class="pure-button pure-button-primary"
                        href="https://github.com/skybird23333/mc-bedrocc-UHC-function">
                        Github Repository
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/uhc-function-addon"
                        style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    Meds Addon
                </div>
                <div class="card-content">
                    Meds addon brings modern medicines such as bandages and pills into Minecraft, providing a
                    lightweight and convenient alternative to healing other than vanilla potions.<br>
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/meds-addon/"
                        style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>

            <div class="card-collapsible">
                <div class="card-header">
                    Airdrop Addon
                </div>
                <div class="card-content">
                    The airdrop addon adds airdrops into Minecraft survival mode, and also a flare gun that can be
                    crafted.
                    <a class="pure-button pure-button-primary" href="https://mcpedl.com/airdrop-addon/"
                        style="background-color: green;">
                        MCPEDL Page
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .pure-button {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: 6px;
            margin: 6px 0;
        }

        .discord-contact-label {
            padding: 3px;
            border-radius: 3px;
            display: inline-block;
        }

        .label {
            color: white;
            padding: 2px;
            border-radius: 3px;
        }

        .l-online {
            background-color: #04AA6D;
        }

        /* Green */
        .l-dnd {
            background-color: #ff0000;
        }

        .l-idle {
            background-color: #e6b839;
        }

        .l-offline {
            background-color: #3a3a3a;
        }
    </style>
    <%- include('partials/footer')%>