<%- include('partials/header')%>
<div class="content">
    <div class="content-header" >
        <h1>not found</h1>
    </div>
    <div class="content-content">
        bye bye
    </div>
</div>
<%- include('partials/footer')%>