<%- include('partials/header')%>
<%- getVueAssetsHTML() %>
<div id="app">
    <portfolio
        presence="<%=presence %>"
    ></portfolio>
    <!-- /app/portfolio -->
</div>
<script>
    var isAppMounted = false
    function mountVueApp() {
        if(isAppMounted) return console.warn('mountVueApp triggered twice')
        console.log(window.vueMethods)
        const { createApp } = window.vueMethods
        const { Portfolio } = window.vueComponents
        createApp(
            {
                components: {
                    Portfolio
                }
            }
        ).mount('#app')
        isAppMounted = true
    }
</script>
<%- include('partials/footer')%>