<%- include('partials/header')%>
<div class="content">
            <div class="content-header">
                <h1 style="margin-block-end: 5px;">Title</h1>
                <h3>
                    Subtitle
                </h3>
            </div>
            <div class="content-content">
                <%- post.renderedContent %>
            </div>
        </div>
    <%- include('partials/footer')%>