<%- include('partials/header')%>
        <div class="content-header">
            <h1>Search for <%= query %></h1>
        </div>
        <div class="content-content">
            nothing found because search is not done kthxbye
        </div>
<%- include('partials/footer')%>