/*--background-primary: rgb(49, 49, 49);  Content & navbar background */
        /* --background-secondary: #161616;  The background behind content */
        /* --foreground-secondary:rgb(235, 235, 235);  Secondary text but not used */
        /* --foreground-primary:  Content border, primary text */

        
        :root {
            --background-primary: #111111; 
            --background-secondary: #111111; 
            --background-tertiary: #1a1a1a; 
            --foreground-primary: rgb(218, 213, 213);
            --foreground-secondary:rgb(206, 191, 191);
            --foreground-border: rgb(56, 56, 56);
            --blue: blue;
            --red: red;
            --yellow: yellow;
            --green: green;
        }
        /* BETA Dark mode
        :root {
            --background-primary: rgb(254, 254, 254);
            --background-secondary: rgb(254, 254, 254);
            --background-tertiary: #e2e2e2; 
            --foreground-primary: rgb(0, 0, 0);
            --foreground-secondary: rgb(104, 104, 104);
            --foreground-border: rgb(216, 216, 216);
        }
        */
        
        html {
            min-height: 100%;
        }

        body {
            background-color: var(--background-secondary);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            color: var(--foreground-primary);
            overflow-x: hidden;
            position: relative;
            z-index: -1001;

            background-repeat: no-repeat;
            background-position-y: bottom;
            background-size: 100% auto;
            flex: 1;
        }

        .navbar {
            padding: 10px;
            height: 40px;
            background-color: var(--background-primary);
            z-index: 123435589;
            width: 100%;
            position: fixed;
            box-shadow: 0 -1px 8px 0px black;
        }
        
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .navbar {
                background: none;
                -webkit-backdrop-filter: blur(16px);
                backdrop-filter: blur(16px) ;
            }
        }

        .navbar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }

        .navbar-links li {
            display: contents;
        }

        @media only screen and (max-width: 500px) {
            .navbar-links {
                display: none;
            }

        }

        .content-header {
            margin-block-start: 0;
            padding: 20px 20px;
            background-color: var(--background-primary);
            padding-top: 75px;
            border-bottom: 2px dashed var(--foreground-border);
        }

        
        .content-header h1 {
            font-size: 45px;
        }
        
        .content-content h1 {
            font-size: xx-large;
        }
        .content-header h3 {
            color: var(--foreground-primary);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .content-header, .content-content h1, h2,
        h3 {
            margin-block-start: 0;
            margin-block-end: 10px;
        }


        .content {
            max-width: 50%;
            min-width: 1000px;
            margin: auto;
            background-color: var(--background-primary);
            z-index: -1000;
            position: relative;
            border: 2px solid var(--foreground-border);
            border-top: none;
            padding-bottom: 50px;
        }
        
        @media only screen and (max-width: 1000px) {
            .content {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                min-width: initial;
                border: none
            }
            .content-header h1 {
                font-size: xx-large;
            }
            
        }
        
        .content-content {
            padding: 45px;
            padding-top: 10px;
            color: var(--foreground-primary);
            font-size: large;
        }
        
        .content-content h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .site-name a {
            left: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-size: xx-large;
            font-weight: bold;
            color: var(--foreground-primary);
            text-decoration: none;
        }
        
        .footer {
            bottom: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            padding-bottom: 1em;
        }

        .is-center {
            text-align: center;
        }


        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: min-content;
            background-color: var(--background-tertiary);
            color: var(--foreground-primary);
            text-align: center;
            border-radius: 3px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--foreground-border) transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .card {
            border: 1px solid var(--foreground-border);
            margin: 3px;
            padding: 10px;
            border-radius: 4px;
            background-color: var(--background-tertiary);
            height: auto;
        }

        .card ul {
            margin: 0;
            padding-left: 0.5cm;
        }

        .card-collapsible {
            border-radius: 8px;
            margin: 10px;
        }
        
        .card-collapsible .card-header {
            font-size: x-large;
            width: 100%;
            align-items: center;
            display: flex;
            overflow: hidden;
            padding: 5px;
            transition: filter .4s;
        }
        .card-collapsible .card-header:hover {
            cursor: pointer;
        }
        
        .card-collapsible .card-content {
            max-height: 0;
            padding: 0 10px;
            overflow: hidden;
            transition-duration: 0.2s;
            border-bottom: 1px solid var(--foreground-secondary);
        }
        .card-header:after {
            content: '';
            font-size: 13px;
            color: white;
            margin-left: 5px;
        }
        /* Collapisble card events are registered in footer */

        pre {
            background-color: var(--background-tertiary);
            border: 2px solid var(--background-border);
            border-radius: 4px;
            padding: 10px;
            color: var(--foreground-primary);
        }

        blockquote, .info p, .warn p, .error p {
          background: var(--background-secondary);
          border: 2px solid var(--foreground-secondary);
          border-radius: 4px;
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          color: black;
        }
        blockquote p {
          display: inline;
        }

        .info p {
            background-color: #45b3d4;
            border-color: #89edff;
        }

        .warn p {
            background-color: #ff9900;
            border-color: #ffe16b;
        }
        
        .error p {
            background-color: #be3e35;
            border-color: #ff6257;
        }

        .post-container {
            background-color: var(--background-tertiary);
            padding: 1em;
            text-decoration: none;
            color: var(--foreground-primary);
            border: 2px solid var(--foreground-border);
            margin: 5px;
            display: block;
            border-radius: 6px;
            transition: filter .4s;
        }
        
        .post-container:hover {
            filter: brightness(130%);
            border: 2px solid var(--foreground-primary);
        }
        

        .button-mcpedl {
            background-color: green;
            color: white;
        }

        .button-github {
            border: 1px solid grey;
        }

        .l-box {
            padding: 1em;
        }
