/*--background-primary: rgb(49, 49, 49);  Content & navbar background */
        /* --background-secondary: #161616;  The background behind content */
        /* --foreground-secondary:rgb(235, 235, 235);  Secondary text but not used */
        /* --foreground-primary:  Content border, primary text */

        
        /* BETA Dark mode
        :root {
            --background-primary: rgb(58, 58, 58); 
            --background-secondary: #111111; 
            --background-tertiary: #1a1a1a; 
            --foreground-secondary:rgb(235, 235, 235);
            --foreground-primary: rgb(250, 250, 250);
            --foreground-border: rgb(85, 85, 85);
        }
        */
        :root {
            --background-primary: rgb(254, 254, 254);
            --background-secondary: #e9e9e9;
            --background-tertiary: #cfcfcf; 
            --foreground-secondary: rgb(104, 104, 104);
            --foreground-primary: rgb(0, 0, 0);
            --foreground-border: rgb(216, 216, 216);
        }
        
        html {
            min-height: 100%;
        }

        body {
            background-color: var(--background-secondary);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            color: var(--foreground-primary);
            overflow-x: hidden;
            position: relative;
            z-index: -1001;

            background-repeat: no-repeat;
            background-position-y: bottom;
            background-size: 100% auto;
            flex: 1;
        }

        .navbar {
            background-color: var(--background-primary);
            padding: 10px;
            height: 40px;
            z-index: 123435589;
            position: relative;
            box-shadow: 0 -1px 8px 0px black;
        }

        .navbar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }

        .navbar-links li {
            display: contents;
        }

        @media only screen and (max-width: 500px) {
            .navbar-links {
                display: none;
            }

        }

        .content-header {
            margin-block-start: 0;
            padding: 20px 20px;
            background-color: var(--background-primary);
            border-bottom: var(--foreground-border) solid 2px;
        }

        
        .content-header h1 {
            font-size: 45px;
        }
        
        .content-content h1 {
            font-size: xx-large;
        }
        .content-header h3 {
            color: var(--foreground-primary);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .content-header, .content-content h1, h2,
        h3 {
            margin-block-start: 0;
            margin-block-end: 10px;
        }


        .content {
            max-width: 50%;
            min-width: 850px;
            margin: auto;
            background-color: var(--background-primary);
            z-index: -1000;
            position: relative;
            border: 2px solid var(--foreground-border);
            padding-bottom: 50px;
        }

        @media only screen and (max-width: 850px) {
            .content {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                min-width: initial;
            }
            .content-header h1 {
                font-size: xx-large;
            }

        }

        .content-content {
            padding: 20px;
            color: var(--foreground-primary);
            font-size: large;
        }

        .content-content h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .site-name a {
            left: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-size: xx-large;
            font-weight: bold;
            color: var(--foreground-primary);
            text-decoration: none;
        }

        .footer {
            bottom: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            padding-bottom: 1em;
        }



        .is-center {
            text-align: center;
        }


        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: min-content;
            background-color: var(--background-tertiary);
            color: var(--foreground-primary);
            text-align: center;
            border-radius: 3px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--foreground-border) transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .card-collapsible {
            border-radius: 8px;
            margin: 10px;
        }
        
        .card-collapsible .card-header {
            font-size: x-large;
            font-weight: bold;
            width: 100%;
            align-items: center;
            display: flex;
            overflow: hidden;
            padding: 5px;
            border-bottom: 1px solid var(--foreground-secondary);
        }
        .card-collapsible .card-header:hover {
            cursor: pointer
        }
        
        .card-collapsible .card-content {
            max-height: 0;
            padding: 0 10px;
            overflow: hidden;
            transition-duration: 0.2s;
        }
        .card-header:after {
            content: '';
            font-size: 13px;
            color: white;
            margin-left: 5px;
        }

        .active:after {
          content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
        /* Collapisble card events are registered in footer */

        pre {
            background-color: var(--background-tertiary);
            border: 2px solid var(--background-border);
            border-radius: 8px;
            padding: 10px;
            color: var(--foreground-primary);
        }

        blockquote, .info p, .warn p, .error p {
          background: var(--background-secondary);
          border-left: 10px solid var(--foreground-secondary);
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          color: black;
        }
        blockquote p {
          display: inline;
        }

        .info p {
            background: #9ce2f7;
            border-left-color: #00c3ff;
        }

        .warn p {
            background: #f2df91;
            border-left-color: #f1c822;
        }
        
        .error p {
            background: #e87a72;
            border-left-color: #cc3f35;
        }

        .post-container {
            background-color: var(--background-secondary);
            padding: 1em;
            border: 2px solid var(--foreground-secondary);
            text-decoration: none;
            color: var(--foreground-secondary);
            display: block;
            transition-duration: .4s;
        }
        .post-container:hover {
            color: var(--foreground-primary);
        }