<%- include('../partials/header')%>
    <div class="content">
        <div class="content-header">
            <h1 style="margin-block-end: 5px;">Admin panel</h1>
        </div>
        <div class="content-content">
            You have captured the flag!
            <pre><code>skybord_ctf{fvck_0ff_my_s3rv3r}</code></pre>
        </div>
    </div>
    <%- include('../partials/footer')%>