<%- include('../partials/header')%>
    <%- include('./partials/secret-sidebar')%>
        <div class="content">
            <div class="content-header">
                <h1 style="margin-block-end: 5px;">
                    <h1>Create Post</h1>
                </h1>
            </div>
            <div class="content-content">
                <div>
                    <a class="button danger" href="/secret/actions/clear-render-cache">Clear render cache</a>
                </div>
            </div>
        </div>
        <%- include('../partials/footer')%>