<%- include('../partials/header')%>
    <%- include('./partials/secret-sidebar')%>
        <div class="content">
            <div class="content-header">
                <h1 style="margin-block-end: 5px;">
                    <h1>Developer</h1>
                    Developers! Developers! Developers!

                </h1>
            </div>
            <div class="content-content">
                <h3>Clearing render cache</h3>
                This will clear the rendered contents of all posts. Might cause performance impact.
                <div>
                    <a class="button danger" href="/secret/actions/clear-render-cache">Clear render cache</a>
                </div>
            </div>
        </div>
        <%- include('../partials/footer')%>