<%- include('../partials/header')%>
    <div class="content">
        <div class="content-header">
            <h1 style="margin-block-end: 5px;">Login</h1>
        </div>
        <div class="content-content">

            <div class="card" style="max-width: 600px;min-width: 300px; margin: auto;">
                <div class="error">
                    <p>Your IP address will be logged on any attempts to log in.</p>
                </div>

                <div class="form">
                    <label>Email</label>
                    <input name="email" id="email" class="input" type="email" placeholder="Your email address" required>

                    <label>Password</label>
                    <input name="password" id="password" class="input" type="password" placeholder="Your password"
                        required>

                    <button class="button" onclick="login()">Submit</button>
                </div>
            </div>

            <script>
                function reqListener() {
                    if(this.status === 200) window.location.href = "/secret/index"
                }

                function login() {
                    if(!document.getElementById('email').value || !document.getElementById('password').value) return
                    var oReq = new XMLHttpRequest();
                    oReq.addEventListener("load", reqListener);
                    oReq.open("POST", "/api/secret/login");
                    oReq.setRequestHeader('Content-Type','application/json')
                    oReq.send(JSON.stringify(
                        {
                            password: document.getElementById('password').value,
                            email: document.getElementById('email').value
                        }
                    ));
                }
            </script>

        </div>
    </div>
    <%- include('../partials/footer')%>