<%- include('../../partials/header')%>
    <div class="content">
        <div class="content-header">
            <h1 style="margin-block-end: 5px;">Actions/Clear Cache</h1>
        </div>
        <div class="content-content">
            Done.
            <div class="info">
                <p>
                    my-website needs to be restarted for this to take effect.
                </p>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer')%>