<div class="side-contents">
    <h3>Admin Stuff</h3>
        <a href="/secret/index">
            Dashboard
        </a>
        <a href="/secret/developer">
            Developer options
        </a>
        <a href="/secret/actions/logout">
            Logout
        </a>
</div>